@font-face {
  font-family: "iconfont"; /* Project id 3191962 */
  src: url('iconfont.woff2?t=1646802927489') format('woff2'),
       url('iconfont.woff?t=1646802927489') format('woff'),
       url('iconfont.ttf?t=1646802927489') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun4:before {
  content: "\e62f";
}

.icon-biaoqing1:before {
  content: "\e60f";
}

.icon-tianjiahaoyou:before {
  content: "\e626";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-dianzan_huaban:before {
  content: "\e613";
}

.icon-tupian:before {
  content: "\e63e";
}

.icon-biaoqing:before {
  content: "\e600";
}

