@font-face {
  font-family: "iconfont"; /* Project id 3191962 */
  src: url('iconfont.woff2?t=1649242267988') format('woff2'),
       url('iconfont.woff?t=1649242267988') format('woff'),
       url('iconfont.ttf?t=1649242267988') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pifu:before {
  content: "\e647";
}

.icon-touxiang:before {
  content: "\e610";
}

.icon-xiugaimima:before {
  content: "\e609";
}

.icon-24gl-bubble:before {
  content: "\e93c";
}

.icon-xinbaniconshangchuan-:before {
  content: "\e611";
}

.icon-huiyuan:before {
  content: "\e8b1";
}

.icon-tuichudenglu:before {
  content: "\e614";
}

.icon-pinglun4:before {
  content: "\e62f";
}

.icon-biaoqing1:before {
  content: "\e60f";
}

.icon-tianjiahaoyou:before {
  content: "\e626";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-dianzan_huaban:before {
  content: "\e613";
}

.icon-tupian:before {
  content: "\e63e";
}

.icon-biaoqing:before {
  content: "\e600";
}

